body{
    background-color: white;
}
h1{
    font-family: monospace;
    font-size: 90px;
    text-align: center;
}
#container{
    height: 850px;
    width: 120px;
}
.scroll-element{
    height: 850px;
    line-height: 850px;
}
#starting-image{
    background-image: url("../images/story\ of\ cece.jpg");
}